@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list-none() {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin text-none($color:$c-black) {
  color: $color;
  text-decoration: none;
}

@mixin margin-center($width:85%) {
  margin:0 auto;
  width: $width;
}

$c-blue:#a2e0ec;
$c-blue2:#3b62ce;
$c-blue3:rgb(18, 150, 202);
$c-blue4:rgb(183, 193, 236);
$c-navy:rgb(19, 19, 87);
$c-black:rgb(20, 20, 20);
$c-white:rgb(255, 255, 255);
$c-back:rgb(255, 255, 255);


// メイン
// タイトル
$fontLL:4vw;
$fontL:3vw;
$fontM:2vw;
$fontS:1.5vw;
$fontSS:1.2vw;





// レスポンシブ

// タイトル
$fontA: 20px;
$fontB: 18px;

// 本文
// メイン
$fontC:16px;
$fontD:14px;
$fontE:12px; 

// 脚注
$fontF:10px; 

// マージン
$marginL:100px 0;
$marginM:50px 0;
$marginS:30px 0;
$marginSS:10px 0;